
<form method="post" action="/Register/LoginUser">
    <div class="col-8">
        <H2 class="text-secondary">Zaloguj użytkownika</H2>
    </div>
    

    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Login i hasło</span>
        </div>
        <input name="Login" type="text" class="form-control">
        <input name="Password" type="password" class="form-control">
    </div>
    <br />
    
    <br />
    <div class="col-8">
        <button type="submit" class="btn btn-info">Zaloguj</button>
     </div>
</form>