@model RealEstateOfficeMvc.Domain.User


<form method="post" action="/Register/EditUser">
    <div class="col-8">
        <H2 class="text-secondary">Edycja konta użytkownika</H2>
    </div>
    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Imię i nazwisko</span>
        </div>
        <input name="Name" type="text" class="form-control"  value=@Model.Name>
        <input name="Surname" type="text" class="form-control" value=@Model.Surname>
    </div>

    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Login</span>
        </div>
        <input name="Login" type="text" class="form-control" value=@Model.Login>
        
    </div>
    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">E-mail</span>
        </div>
        <input name="EmailAddress" type="text" class="form-control" value=@Model.Emailaddress>
      
    </div>
    <div><input type="hidden" name="userid" type="text" class="form-control" value=@Model.Id></div>
    <input type="hidden" name="Password" type="password" class="form-control">

    <br />
    <div class="col-8">
        @Html.DropDownList("userTyp", new List<SelectListItem>
        {new SelectListItem { Text = "Administrator", Value = "1" },
            new SelectListItem { Text = "Pracownik", Value = "2" },
            new SelectListItem { Text = "Klient", Value = "3",Selected=true }
        }, new { style = "width: 180px;" })
    </div>
    <br />
    <div class="col-8">
        <button type="submit" class="btn btn-info">Zapisz</button>
        <button type="submit" class="btn btn-info">Anuluj</button>
    </div>
</form>