@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" action="/RealEstate/VSearch">
    <div class="text-secondary">
        <H2 class="col-8"> Kryteria wyszukiwania</H2>
    </div>
    <div class="col-8">
        @Html.DropDownList("realestateType", new List<SelectListItem>
         {new SelectListItem { Text = "Dom", Value = "0" },
          new SelectListItem { Text = "Mieszkanie", Value = "1" },
          new SelectListItem { Text = "Działka", Value = "2" },
          new SelectListItem { Text = "Garaż", Value = "3" },
          new SelectListItem { Text = "Lokal usługowy", Value = "4" }
         }, new { style = "width: 180px;" })
    </div>
    <br />
    <div class="col-8">
        <label>Liczba pokoi:  <input style="width: 85px;" type="text" name="RoomsAmount"></label>
    </div>


    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id=""> Cena od - do</span>
        </div>
        <input name="PriceLowest" type="text" class="form-control">
        <input name="PriceHighest" type="text" class="form-control">
    </div>

    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Powierzchnia od - do</span>
        </div>
        <input name="AreaSmallest" type="text" class="form-control">
        <input name="AreaBiggest" type="text" class="form-control">
    </div>

    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id=""> Imię i nazwisko właściciela</span>
        </div>
        <input name="OwnerName" type="text" class="form-control">
        <input name="OwnerSurname" type="text" class="form-control">
    </div>


    <div class="input-group col-8">
        <div class="input-group-prepend">
            <span class="input-group-text" id=""> Miejscowość, ulica i numer posesji</span>
        </div>
        <input name="City" type="text" class="form-control">
        <input name="Street" type="text" class="form-control">
        <input name="EstateAddress" type="text" class="form-control">
    </div>
    <br />
    <div class="col-8">
        <button type="submit" class="btn btn-info"> Wyszukaj</button>
        <button class="btn btn-info"> Resetuj filtry</button>
    </div>
    
        
   
</form>

