@model IEnumerable<Log>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 70px;
        background-color: black;
        color: white;
        text-align: left;
    }

    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #like-button {
        width: 100px;
        height: 40px;
    }

        #like-button svg {
            width: 25px;
            height: 25px;
        }
</style>


<table>
    <tr>

        <th>Id</th>
        <th>Typ operacji</th>
        <th>Data</th>
        <th>Użytkownik</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@item.Id</td>
            <td>@item.TypeOfCRUDOperation</td>
            <td>@item.LogDate</td>
            <td>@item.UserName</td>
        </tr>


    }
</table>




